apiVersion: v1
kind: Secret
metadata:
  name: mvp-oficina-api-secrets
  namespace: staging
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://oficina_user:YOUR_DB_PASSWORD@YOUR_RDS_ENDPOINT:5432/oficina_staging"
  ADMIN_NOME: "Administrador"
  ADMIN_EMAIL: "admin@example.com"
  ADMIN_PASSWORD: "YOUR_ADMIN_PASSWORD"